<div class="container">
  <%= form_for @business do |f| %>
  <%@business.errors.full_messages.each do |message|%>
  <div class="notification is-warning" style="padding: 7px !important">
    * <%=message%>
  </div>
  <%end%>
  <div class="tile is-ancestor">

    <div class="tile is-4 is-vertical is-parent">

      <div class="tile is-child box">
        <div class="field">
          <label class="label">Nombre</label>
          <div class="control">
            <%= f.text_field :name, placeholder:"Introduce el nombre del negocio", class:"input", id:"nombreNegocioInput"%>
          </div>
        </div>
        <div class="field">
          <label class="label">Slogan</label>
          <div class="control">
            <%= f.text_field :slogan, placeholder:"Introduce el slogan del negocio", class:"input" %>
          </div>
        </div>
        <div class="field">
          <label class="label">Descripción</label>
          <div class="control">
            <%= f.text_area :description, placeholder:"Introduce la descripción del negocio", class:"textarea" %>
          </div>
        </div>
        <div class="field">
          <label class="label">Tipo de negocio al que pertenece:</label>
          <div class="control">
            <div class="select is-primary">
              <%= collection_select(:business, :business_type_id, BusinessType.all, :id, :name, :prompt => 'Seleccione un tipo de negocio') %>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Categorías de negocio</label>
          <%= f.text_field :tag_list, value: f.object.tag_list.to_s, placeholder:"Escribe las etiquetas separadas por comas", class:"input" %>
        </div>
      </div>

      <div class="tile is-child box">
        <p class="title">Carga de imágenes</p>

        <div class="field">
          <div class="file has-name">
            <label class="file-label">
              <%= f.file_field :cover, class:"file-input", id:"portadaFile"%>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fa fa-upload"></i>
                </span>
                <span class="file-label">
                  Portada:
                </span>
              </span>
              <span class="file-name" id="portadaName">
                <% if @business.cover? %>
                  <%= @business.cover_file_name %>
                <% end %>
              </span>
            </label>
          </div>
          <% if @business.cover? %>
            <%= image_tag @business.cover.url(:thumb) %>
          <% end %>
        </div>

      </div>
    </div>

    <div class="tile is-parent">
      <div class="tile is-child box">
        <p class="title">Ubicación</p>
        <div id="map" style="width: 100%; height: 500px; margin-bottom: 15px"></div>

        <div class="columns">
        <%= f.fields_for :address do |a| %>
          <div class="column">
            <div class="field">
              <label class="label">Calle</label>
              <div class="control">
                <%= a.text_field :street, class:"input", id:"calleInput"%>
              </div>
            </div>
          </div>


          <div class="column">
            <div class="field">
              <label class="label">Número</label>
              <div class="control">
                <%= a.text_field :ext_number, class:"input", id:"numExtInput"%>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <label class="label">Número interior</label>
              <div class="control">
                <%= a.text_field :int_number, class:"input", id:"numIntInput"%>
              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Colonia</label>
              <div class="control">
                <%= a.text_field :colony, class:"input", id:"coloniaInput"%>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <label class="label">Municipio</label>
              <div class="control">
                <%= a.text_field :municipality, class:"input", id:"municipioInput" , readonly:"true"%>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <label class="label">Estado</label>
              <div class="control">
                <%= a.text_field :state, class:"input", id:"estadoInput" , readonly:"true"%>
              </div>
            </div>
          </div>

        </div>

        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Código postal</label>
              <div class="control">
                <%= a.text_field :postal_code, class:"input", id:"cpInput" , readonly:"true"%>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <label class="label">Latitud</label>
              <div class="control">
                <%= a.text_field :latitude, class:"input", id:"latInput" , readonly:"true"%>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <label class="label">Longitud</label>
              <div class="control">
                <%= a.text_field :longitude, class:"input", id:"lngInput" , readonly:"true"%>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="field">
      <div class="control">
        <%=f.submit 'GUARDAR'.html_safe, class:"button is-primary is-large"%>
      </div>
    </div>
  </div>
  <%end%> <!--Termina formulario-->
</div>


<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  let latMarkerApizaco;
  let lngMarkerApizaco;
  let txtInfoMarker;
  let zoom;
  if($('#latInput').val() == "" && $('#lngInput').val() == ""){
    latMarkerApizaco = 19.4147319;
    lngMarkerApizaco = -98.1404462;
    txtInfoMarker = "Ubicación del nuevo negocio";
    zoom = 14;
  }else{
    latMarkerApizaco = $('#latInput').val();
    lngMarkerApizaco = $('#lngInput').val();
    txtInfoMarker = $('#nombreNegocioInput').val();
    zoom = 17;
  }
  markers = handler.addMarkers(
    [
      {
        "lat": latMarkerApizaco,
        "lng": lngMarkerApizaco,
        "picture": {
          "url": "http://maps.google.com/mapfiles/ms/icons/green-dot.png",
          "width":  32,
          "height": 32
        },
        "infowindow": txtInfoMarker,
      }
    ],
    {draggable: true}
  );
  // Move existing marker
  google.maps.event.addListener(markers[0].serviceObject, 'dragend', function() {
    geocodePosition(this.getPosition());
  });

  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(zoom);

  function geocodePosition(pos){
    geocoder = new google.maps.Geocoder();
    geocoder.geocode({
      latLng: pos
    },
    function(results, status){
      if (status == google.maps.GeocoderStatus.OK){
        $("#latInput").val("OK")
        var place = results[0];
        for (var i = 0; i < place.address_components.length; i++) {
          for (var j = 0; j < place.address_components[i].types.length; j++) {
            console.log("Tipos: "+place.address_components[i].types[j]+", Valor: "+ place.address_components[i].long_name)
            if (place.address_components[i].types[j] == "route") {
              $('#calleInput').val(place.address_components[i].long_name);
            }
            if (place.address_components[i].types[j] == "street_number") {
              $('#numExtInput').val(place.address_components[i].long_name);
            }
            if (place.address_components[i].types[j] == "sublocality") {
              $('#coloniaInput').val(place.address_components[i].long_name);
            }
            if (place.address_components[i].types[j] == "administrative_area_level_2") {
              $('#municipioInput').val(place.address_components[i].long_name);
            }
            if (place.address_components[i].types[j] == "administrative_area_level_1") {
              $('#estadoInput').val(place.address_components[i].long_name);
            }
            if (place.address_components[i].types[j] == "postal_code") {
              $('#cpInput').val(place.address_components[i].long_name);
            }
          }
        }
        $('#latInput').val(place.geometry.location.lat());
        $('#lngInput').val(place.geometry.location.lng());
      }
      else{
        console.log(status)
      }
    });
  }
});

$(document).ready(function () {
  var file = document.getElementById("portadaFile");
  file.onchange = function(){
    if(file.files.length > 0){
      document.getElementById('portadaName').innerHTML = file.files[0].name;
    }
  };
})
</script>
