<section class="hero is-light is-small" style="margin-bottom: -30px">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp; Negocios
      </h1>
      <h2 class="subtitle">
        Todos los negocios
      </h2>
    </div>
  </div>
</section>
<div class="container is-fluid">
  <table class="table is-bordered is-striped is-fullwidth">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Propietario</th>
        <th>Dirección</th>
        <th>Categoría</th>
        <th>Estatus</th>
        <th>Eliminar</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody>
      <% @businesses.each do |business| %>
      <tr>
        <td>
          <%=business.name%>
        </td>
        <td>
          Daniel Juarez
        </td>
        <td>
          <%=business.address.street + " " +
              business.address.ext_number +  ", "  +
              business.address.colony +  ", "  +
              business.address.municipality +  ", "  +
              business.address.state +  ", "  +
              business.address.postal_code.to_s%>
        </td>
        <td>
            <%= business.business_type.name %>
        </td>
        <td>
          <%= business.status.name.capitalize %>
        </td>
        <td>
          <%= link_to "Eliminar", business, method: :delete, data: { confirm: '¿Está seguro de eliminar?', text: 'Eliminará un negocio registrado'} %>
        </td>
        <td>
          <%= link_to "Detalles", business, method: :get %>
        </td>
      </tr>
      <%end%>
    </tbody>
  </table>
  <%= will_paginate @businesses, renderer: BulmaPagination::Rails%>
</div>
<script>
  $(document).ready(function() {
    $('li.pagination-previous > a').text("Prev")
    $('li.pagination-next > a').text("Next")
    $('li.pagination-previous > span').text("Prev")
    $('li.pagination-next > span').text("Next")

    /*$('#will_paginate_id').bind('click', function(event){
      window.scrollTo(0,0);
      // Some code to show loader on screen
      $('#loading').html('Loading');
    });*/
  })
</script>
