<section class="hero is-light is-small" style="margin-bottom: 15px">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp; Negocios
      </h1>
      <h2 class="subtitle">
        Negocio en espcifico ID
      </h2>
    </div>
  </div>
</section>
<div class="container is-fluid">
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image">
          <%=image_tag @business.cover.url(:thumb)%>
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <div class="block">
            <span class="tag is-info is-medium">
                <%= @business.business_type.name %>
            </span>
          </div>
          <p>
            <strong><%= @business.name %></strong> <small><%= @business.slogan %></small>
            <br>
            <%= @business.description %>
            <div class="block">
              <%@business.tags.each do |tag|%>
                <span class="tag is-rounded"><%= tag.name%></span>
              <%end%>
            </div>
            <div class="block">
              <span class="icon is-medium has-text-info" style="vertical-align: middle;">
                <span class="fa-stack">
                  <i class="fa fa-map-marker fa-stack-2x"></i>
                </span>
              </span>
              <span class="has-text-weight-semibold">
                <%=@business.address.street + " " +
                @business.address.ext_number +  ", "  +
                @business.address.colony +  ", "  +
                @business.address.municipality +  ", "  +
                @business.address.state +  ", "  +
                @business.address.postal_code.to_s%>
              </span>
            </div>
          </p>
        </div>
      </div>
      <div class="media-right">
        <%= link_to "Editar", edit_business_path(@business), method: :get %>
      </div>
    </article>
  </div>
</div>
